<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8"/>
  <title>Spirit of Nirn Discord Bot</title>

  <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" media="all" href="../static/css/index.css" th:href="@{/css/index.css}"/>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10" layout:fragment="content">
      Page content goes here
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>