<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
  <title>Home - Spirit of Nirn Discord Bot</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Spirit of Nirn Discord Bot TEST</h2>
    <p class="flow-text">Spirit of Nirn is an Elder Scrolls Online guild, full of beautiful people from around the world.</p>
    <p class="flow-text">This bot has been created to support in-game events, such as the guild Treasure Hunt.</p>
    <p class="flow-text">More functionality will be added over time, but for now you can enjoy:</p>
    <ul class="flow-text">
        <li> - Treasure Hunt Companion.</li>
        <li> - Insult Service</li>
        <li> - Compliment Service</li>
    </ul>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>