<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
  <title>Instructions - Spirit of Nirn Discord Bot</title>
</head>
<body>
<div layout:fragment="content">
  <h2>Instructions</h2>

  <h3>Introduction</h3>
  <p>Welcome to the Spirit of Nirn Discord Bot</p>
  <p>Here are the commands that the bot currently supports, separated by permission access</p>
  <p>If you have any questions or need support, email EMAIL_ADDRESS</p>

  <h3>Bot Commands</h3>
  <table class="table table-striped table-bordered table-sm">
    <thead>
    <tr>
      <th scope="col">Command</th>
      <th scope="col">Permission</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-primary">
      <td>!AddAdmin</td>
      <td>Owners</td>
      <td>Adds an owner to permissions group</td>
    </tr>
    </tbody>
  </table>

</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>