<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
  <title>Bot Commands - Spirit of Nirn Discord Bot</title>
</head>
<body>
<div layout:fragment="content">
  <h2>Bot Commands</h2>
  <table class="highlight flow-text">
    <thead>
    <tr>
      <th>Command</th>
      <th>Permission</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>!AddAdmin admin-to-add</td>
      <td>Owners</td>
      <td>Adds an admin</td>
    </tr>
    <tr>
      <td>!RemoveAdmin admin-to-remove</td>
      <td>Owners</td>
      <td>Removes an admin</td>
    </tr>
    <tr>
      <td>!th-getallclues</td>
      <td>Admin</td>
      <td>Shows all clues for the treasure hunt</td>
    </tr>
    <tr>
      <td>!th-getfirstclue</td>
      <td>Admin</td>
      <td>Shows first clue</td>
    </tr>
    <tr>
      <td>!th-addfirstclue</td>
      <td>Admin</td>
      <td>Sets the first clue</td>
    </tr>
    <tr>
      <td>!th-removefirstclue</td>
      <td>Admin</td>
      <td>Removes the first clue</td>
    </tr>
    <tr>
      <td>!th-getsecondclue</td>
      <td>Admin</td>
      <td>Shows second clue for the treasure hunt</td>
    </tr>
    <tr>
      <td>!th-addsecondclue/td>
      <td>Admin</td>
      <td>Adds second clue</td>
    </tr>
    <tr>
      <td>!th-removesecondclue</td>
      <td>Admin</td>
      <td>Removes the second clue</td>
    </tr>
    <tr>
      <td>!th-getthirdclue</td>
      <td>Admin</td>
      <td>Shows third clue for the treasure hunt</td>
    </tr>
    <tr>
      <td>!th-addthirdclue</td>
      <td>Admin</td>
      <td>Adds the third clue</td>
    </tr>
    <tr>
      <td>!th-removethirdclue</td>
      <td>Admin</td>
      <td>Removes the third clue</td>
    </tr>
    <tr>
      <td>!th-reset</td>
      <td>Admin</td>
      <td>Removes all clues and resets permissions</td>
    </tr>
    <tr>
      <td>!treasurehunt</td>
      <td>Everyone</td>
      <td>Will show first clue, only once an Admin has started the hunt</td>
    </tr>
    <tr>
      <td>!insult user-to-insult</td>
      <td>Everyone</td>
      <td>Issues a random insult</td>
    </tr>
    <tr>
      <td>!compliment user-to-compliment</td>
      <td>Everyone</td>
      <td>Issues a random compliment</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
<th:block layout:fragment="scripts">

</th:block>
</html>